<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand"><%= link_to "VLOG PALS", '#', id: "logo" %></div>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "Home", '#' %></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>